<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="./resources/css/bootstrap.css"> 
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VoteNOW</title>
    <!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>
<body >
    <div id="app">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top"> 
            <div class="container">
                <div class="navbar-header">
            <a class="navbar-brand" href="#">VoteNOW</a> 
            <div v-if="loggedin==false">
                <input type="text" placeholder="Username" name="username" v-model="username" class="form-control mr-sm-2"><br>
                <input type="password" placeholder="Passwort" name="passwort" v-model="passwort" @keypress.enter="login(username, passwort)" class="form-control mr-sm-2"><br>
                <button @click="login(username, passwort)" class="btn btn-outline-success my-2 my-sm-0">Login</button><br>
            </div>
            <div v-else="">
                <p class="nav-item">Username: <strong>{{ username }}</strong></p>
                <button @click="logout()" class="btn btn-outline-danger my-2 my-sm-0">Logout</button>
    
            </div>
        </div>
    </div>
        </nav>
    </header>
    <main role="main" class="flex-shrink-0">
    <div class="container">
        <div v-if="loggedin===true">
            <div v-if="answered===false">
                <div v-if="isadmin===true">
                    <label><strong>Frage bearbeiten:</strong></label><br>
                    <span v-if="question.editing === true">
                        <input 
                            v-model="question.tempText" 
                            @keyup.enter="saveQuestion(question.tempText)"
                            @keyup.esc="question.editing = false"
                        >
                        <button @click="saveQuestion(question)">save</button>
                        <button @click="cancelEditingQuestion(question)">cancel</button>
                    </span>
                    <span v-else>
                        <strong>{{question.text}}</strong>
                        <button @click="question.editing = true">edit</button>
                    </span>
                </div>
                <div v-else="isadmin===false">
                    <strong>{{question.text}}</strong>
                </div>
                    <h4>Antworten:</h4><br>
                    <div v-if="antworten.length > 0">
                    <div v-for="(option,index) in antworten">
                        <input type="radio" name="antwort" value="" v-model="selected" v-bind:value="index"> <label>{{option.text}}</label> <br>
                    </div>
                    </div>
                    <div v-if="addantworten">
                        
                            <input type="text" name="tmpantwort" value="FASFDAFSSF"  v-model="newoption">
                            <button @click="saveAnswer(newoption)">save</button>
                            <button @click="addantworten = false">cancel</button>
                        
                    </div>
                    <button v-if="isadmin===true" @click="addantworten = true">+</button></li><br>

                <div v-if="antworten.length > 0">
                <p>ausgewählt: {{ antworten[selected].text }}</p>
                </div>
                <button v-on:click="submitanswer(selected)" class="btn btn-outline-primary my-2 my-sm-0">Abstimmen</button>
                
            </div>
            <div v-else="answered===true">
                <strong>{{question.text}}</strong>
                <p>Antwort: {{ antworten[selected].textwort }}</p>
                <div v-for="(option,index) in antworten" >
                    <progress value="" max="" v-bind:value="option.count" v-bind:max="summe"></progress>   {{option.text}} - {{Math.round(100/this.summe*option.count * 100) / 100}}%<br>
                    
                </div>
         
                <p>Total abgegebene Stimmen: {{ summe }}</p>
                <button v-on:click="answered=false" class="btn btn-outline-primary my-2 my-sm-0">Nochmal?</button>
            </div>
  
        <div v-else="loggedin===false">
            <div class="alert alert-danger" role="alert">
                Bitte anmelden
              </div>
                
        </div>
        
    </div>
    </main>
    <footer class="footer mt-auto py-3">
        <div class="container">
          <span class="text-muted">Copyright Luca Käser & Nico Borner TSBE-WEB2020</span>
        </div>
      </footer>
    </div>
    <!-------------------------------------------------------------------------------------------------->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
              loggedin: false,
              answered: false,
              isadmin: false,
              username: '',
              passwort: '',
              newoption: '',
              selected: 0,
              percent: 0,
              question: {text: "Stellen Sie Ihre eigene Frage!", editing: false, tempText: ""},
              antworten: [
              ],
              addantworten: false,
              //summe : 0,
            },
            methods: {
                login: function(username, passwort){
                    if(username === "admin" && passwort === "admin" || username === "test" && passwort === "test"){
                        this.username = username;
                        this.passwort = passwort;
                        localStorage.setItem('username' , JSON.stringify(this.username));

                        this.loggedin = true;
                        localStorage.setItem('loggedin' , JSON.stringify(this.loggedin));
                        if(username === "admin")
                        {
                            this.isadmin = true;
                            localStorage.setItem('loggedin' , JSON.stringify(this.isadmin));
                            localStorage.setItem('isadmin' , JSON.stringify(this.isadmin));
                        }
                        else{
                            this.isadmin = false;
                        }
                    }else{
                        alert("Falscher User oder Passwort");
                        this.loggedin = false;
                        this.passwort = "";
                    }

                },

                logout: function(){
                    this.loggedin = false;
                    this.isadmin = false;
                    localStorage.removeItem('loggedin');
                    localStorage.removeItem('username');
                    localStorage.removeItem('isadmin');
                },
                submitanswer: function(selected){
                    this.antworten[selected].count ++;
                    this.answered = true;

                    localStorage.setItem('summe' , JSON.stringify(this.summe));
                    localStorage.setItem('antworten' , JSON.stringify(this.antworten));
                    localStorage.setItem('answered' , JSON.stringify(this.answered));

                },
                addAnswer: function(){
                    console.log("not yet implemented");
                    this.addantworten.push({text: '', editing: true, tempText: ''})
                },
                saveAnswer(ans) {
                    console.log(ans);
                    this.addantworten = false
                    this.antworten.push({text: ans, count: 0})
                    this.newoption = '';
  
                    localStorage.setItem('antworten', JSON.stringify(this.antworten))
                },
                editQuestion: function(question) {
                    console.log(question);
                    this.question.editing = true;
                    //this.question = question;
                },
                saveQuestion: function(question) {
                    question.editing = false
                    question.text = question.tempText
                    localStorage.setItem('question', JSON.stringify(this.question))
                },
                cancelEditingQuestion(question) {
                question.editing = false
                question.tempText = ""
                },
            },
            created: function() {
                console.log('ON LOAD');
                if (localStorage.getItem('loggedin') !== null){
                    this.loggedin = JSON.parse(localStorage.getItem('loggedin'));
                }
                if (localStorage.getItem('username') !== null){
                    this.username = JSON.parse(localStorage.getItem('username'));
                }
                if (localStorage.getItem('antworten') !== null){
                    this.antworten = JSON.parse(localStorage.getItem('antworten'));
                }
                if (localStorage.getItem('answered') !== null){
                    this.answered = JSON.parse(localStorage.getItem('answered'));
                }
                if (localStorage.getItem('isadmin') !== null){
                    this.isadmin = JSON.parse(localStorage.getItem('isadmin'));
                }
                console.log('LOAD FINISHED');
            },
            computed: {
                // a computed getter
                summe: function () {
                    summe = 0;
                    if (this.antworten.length > 0){
                    for (i of this.antworten){
                        summe = summe + i.count;
                    }
                    }
                    return summe
                },
            }
          })
          </script>
    <!-- JavaScript for Bootstrap   -->
    <script src="./resources/js/jquery-3.3.1.slim.min.js" ></script>
    <script src="./resources/js/bootstrap.bundle.js"></script>
</body>
</html>